*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: rgb(94, 64, 15);
  --secondary-color: rgb(218, 186, 134);
  --accent-color: rgb(194, 210, 73);
  --danger-color: rgb(208, 64, 38);
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main{
  margin: 64px;
}

main>div{
  height: 100%;
  background-color: blue;
}

#scene-1{
  display: flex;
  justify-content: center;
}

footer, header{
  display: flex;
  justify-content: center;
}

#inventory-container{
  background-color: var(--primary-color);
  display: flex;
  margin: 8px 20%;
  padding: 8px;
  gap: 4px;
}

.item{
  background-color: var(--secondary-color);
  /* aspect-ratio: 1 / 1; */
  border: 1px solid black;
  width: 100px;
}

.item img{
  width: 100%;
}

.img-container{
  width: 100px;
}

  .img-container>img{
    width: 100%;
  }

#scene-1-container{
  width: 100%;
}

.row-1, .row-2, .row-3{
  padding: 32px;
  background: var(--primary-color);
}

.row-1{
  height: 40%;
  display: flex;
  justify-content: space-between;
  background: var(--secondary-color);
}

.row-2{
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

  .row-2:nth-child(3), .row-2:nth-child(4){
    grid-row-start: 2;
  }

  .stats{
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.row-3{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (width < 640px) {
  #inventory-container{
    grid-template-columns: repeat(3, 1fr);
  }
}
